h1, h2 {
    font-family: Gentium Book Basic, serif;
    color: #265460;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}

footer, h3 {
    color: #859b96;
}

h3 {
    font-family: Gentium Book Basic, serif;
}
